<% provide(:title,"Edit") %>
<div class="row">
  <div class="col-sm-3">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>
  </div>
  <div class="col-sm-9">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class:'form-horizontal', multipart: :true }, wrapper: :horizontal_form)do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :first_name, required: false %>
            <%= f.input :last_name, required: false %>
            <%#= f.input :avatar, as: :file %>
            <div class="form-group file optional user_avatar">
              <label class="control-label file optional col-sm-3" for="user_avatar">Picture</label>
              <div class="col-sm-2">
                <%= image_tag(resource.avatar_url, class:"profile_pic") if resource.avatar? %>
              </div>
              <input class="file optional col-sm-7" type="file" name="user[avatar]" id="user_avatar">
            </div>
            <%= f.hidden_field :avatar_cache %>


            <%= f.association :roles, label_html: {class: "col-sm-3"}, as: :check_boxes, collection: [Role.find(1), Role.find(2)] %>

            <%= f.input :date_of_birth, wrapper: :horizontal_form, as: :date, start_year: Date.today.year,
                                    end_year: Date.today.year - 70, discard_day: false,
                                    order: [:day, :month, :year], input_html: {class: 'inline'}%>
            <%= f.input :email, required: true, autofocus: true %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <%= f.input :phone_number, required: false %>

            <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
            <%= f.input :password_confirmation, required: false, label:"Confirmation" %>
            <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Update" %>
          </div>
        <% end %>
        <p><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-sm btn-danger" %></p>
      </div>
    </div>
  </div>
</div>
