
<div class="panel panel-default">
  <div class="panel-heading">Tutors</div>
    <div class="panel-body">
      <table class="table datatable responsive no-wrap">
        <thead>
          <tr>
            <th>Tutor Name</th>
            <th>Subject</th>
            <th>Year</th>
            <th>Rates $/hr</th>
            <th>Qualifications</th>
            <th colspan="1"></th>
          </tr>
        </thead>

        <tbody>

            <% @tutor_profiles.each do |tutor_profile| %>
              <tr>
                <td><%= tutor_profile.user.first_name.capitalize %> <%= tutor_profile.user.last_name %></td>
                <td><%= tutor_profile.subject %></td>
                <td><%= tutor_profile.subject_year %></td>
                <td><%= tutor_profile.rates %></td>
                <td><%= tutor_profile.qualifications %></td>
                <td><%= link_to "More Details", tutor_profile_path(tutor_profile.id), class:"btn btn-sm btn-info" %>
              </tr>
            <% end %>

        </tbody>
      </table>
    </div>
  </div>
</div>
