<div class="row">
  <div class="col-sm-2">
    <h4>With Students</h4>
  </div>
  <div class="col-sm-10">
    <% if @tutorbookings.empty? %>
      <p>You have no tutoring sessions </p>
    <% end %>
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table datatable responsive no-wrap">
          <thead>
            <tr>
              <th>Student</th>
              <th>Date</th>
              <th>Start time</th>
              <th>End time</th>
              <th>Cost</th>
              <th>Paid</th>
              <th>Requested on</th>
            </tr>
          </thead>

          <tbody>
              <% @tutorbookings.each do |booking| %>
                <tr>
                  <td>
                    <%= booking.student_name %>
                    <%= link_to "More Details", student_profile_url(booking.student.student_profile), class:"btn btn-sm btn-info" %>
                  </td>
                  <td><%= booking.date.strftime("%d %B %y") %></td>
                  <td><%= booking.start_time.strftime("%H:%M") %></td>
                  <td><%= booking.end_time.strftime("%H:%M") %></td>
                  <td><%= number_to_currency(booking.cost, unit:"$") %></td>
                  <td><%= human_boolean(booking.paid) %></td>
                  <td><%= booking.created_at.strftime("%d %B %y") %></td>
                </tr>
              <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
