<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :date_of_birth, wrapper: :horizontal_form, as: :date, start_year: Date.today.year,
                            end_year: Date.today.year - 70, discard_day: false,
                            order: [:day, :month, :year],  input_html: {class: 'inline'} %>

    <%= f.input :email %>
    <%= f.input :avatar, label:"Picture", as: :file %>
    <%= f.hidden_field :avatar_cache %>
    <%= f.association :roles, label_html: {class: "col-sm-3"}, label:"What are you?", as: :check_boxes, collection: [Role.find(1), Role.find(2)] %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true, label: "Confirm Password" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
