<h1>Tutor Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Subject</th>
      <th>Subject year</th>
      <th>Rates</th>
      <th>Experience</th>
      <th>Qualifications</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tutor_profiles.each do |tutor_profile| %>
      <tr>
        <td><%= tutor_profile.description %></td>
        <td><%= tutor_profile.subject %></td>
        <td><%= tutor_profile.subject_year %></td>
        <td><%= tutor_profile.rates %></td>
        <td><%= tutor_profile.experience %></td>
        <td><%= tutor_profile.qualifications %></td>
        <td><%= tutor_profile.user %></td>
        <td><%= link_to 'Show', tutor_profile %></td>
        <td><%= link_to 'Edit', edit_tutor_profile_path(tutor_profile) %></td>
        <td><%= link_to 'Destroy', tutor_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tutor Profile', new_tutor_profile_path %>
