<div class="row">
  <div class="col-sm-8">
    <div class="panel panel-info">
      <div class="panel-heading">
        <%= @tutor_profile.user.first_name.capitalize%> <%=@tutor_profile.user.last_name.capitalize%>
      </div>
      <div class="panel-body">
        <p>
          <strong>Description:</strong>
          <%= @tutor_profile.description %>
        </p>

        <p>
          <strong>Subjects:</strong>
          <%= @tutor_profile.subject %>
        </p>

        <p>
          <strong>Subject year:</strong>
          <%= @tutor_profile.subject_year %>
        </p>

        <p>
          <strong>Rates:</strong>
          <%= @tutor_profile.rates %>
        </p>

        <p>
          <strong>Experience:</strong>
          <%= @tutor_profile.experience %>
        </p>

        <p>
          <strong>Qualifications:</strong>
          <%= @tutor_profile.qualifications %>
        </p>

        <p>
          <strong>Phone Number:</strong>
          <%= @tutor_profile.user.phone_number %>
        </p>

        <p>
          <strong>Email:</strong>
          <%= @tutor_profile.user.email %>
        </p>

        <%= link_to 'Back', tutors_path %>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'tutor_bookings/form' %>
      </div>
    </div>
  </div>
</div>
