<div class="row">
  <div class="col-sm-3">
    <div class="panel panel-info">
      <div class="panel-body">
        <%= image_tag(@tutor_profile.user.avatar_url, class:"profile-pic") if @tutor_profile.user.avatar %>
        <p>
          <strong>Name:</strong>
          <%= @tutor_profile.user.full_name %>
        </p>
        <p>
          <strong>Phone number:</strong>
          <%= @tutor_profile.user.phone_number %>
        </p>

        <p>
          <strong>Email:</strong>
          <%= @tutor_profile.user.email %>
        </p>
      <%= link_to "Message Me", conversations_path(sender_id: current_user.id, recipient_id: @tutor_profile.user.id), method: :post, class:"btn btn-primary"%>
    </div>
  </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        Profile
      </div>
      <div class="panel-body">
        <% if @tutor_profile.user.avatar %>
        <p><%= image_tag(@tutor_profile.user.avatar_url, class:"profile_pic")%></p>
        <% end %>
        <p>
          <strong>Description:</strong>
          <%= @tutor_profile.description %>
        </p>

        <p>
          <strong>Subjects:</strong>
          <%= @tutor_profile.subject %>
        </p>

        <p>
          <strong>Subject year:</strong>
          <%= @tutor_profile.subject_year %>
        </p>

        <p>
          <strong>Rates:</strong>
          <%= number_to_currency(@tutor_profile.rates, unit:"$/hr", format:"%n %u") %>
        </p>

        <p>
          <strong>Experience:</strong>
          <%= @tutor_profile.experience %>
        </p>

        <p>
          <strong>Qualifications:</strong>
          <%= @tutor_profile.qualifications %>
        </p>

      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'tutor_bookings/form' %>
      </div>
    </div>
  </div>
</div>
