<h1>Desktop</h1>

<% if current_user.has_role? :student %>
  <h2>Your Requests:</h2>
  <% if @studentbookings.empty? %>
    <p>You haven't requested any tutors.</p>
  <% else %>
    <h3>Approved</h3>
    <% @studentbookings_approved.each do |b| %>
      <div class="panel panel-default">
        <div class="panel-body">
          <p><strong>Tutor:</strong> <%= b.tutor.first_name %> <%= b.tutor.last_name%>
          <%= link_to "More Details", tutor_profile_url(b.tutor.tutor_profile), class:"btn btn-sm btn-info"%></p>
          <p><strong>Date:</strong> <%= b.date%></p>
          <p><strong>Starts at:</strong> <%= b.start_time.strftime('%H:%M') %></p>
          <p><strong>Ends at:</strong> <%= b.end_time.strftime('%H:%M')%></p>
          <p><strong>Approved:</strong> <%= human_boolean(b.approved) %></p>
          <p><%= link_to "Make Payment", "#", class:"btn btn-sm btn-warning" %></p>
        </div>
      </div>
    <% end %>
    <h3>Waiting for Tutor Approval</h3>
    <% @studentbookings_not_approved.each do |b| %>
      <div class="panel panel-default">
        <div class="panel-body">
          <p><strong>Tutor:</strong> <%= b.tutor.first_name %> <%= b.tutor.last_name%>
          <%= link_to "More Details", tutor_profile_url(b.tutor.tutor_profile), class:"btn btn-sm btn-info"%></p>
          <p><strong>Date:</strong> <%= b.date%></p>
          <p><strong>Starts at:</strong> <%= b.start_time.strftime('%H:%M') %></p>
          <p><strong>Ends at:</strong> <%= b.end_time.strftime('%H:%M')%></p>
          <p><strong>Approved:</strong> <%= human_boolean(b.approved) %></p>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<% if current_user.has_role? :tutor %>
  <h3>Tutoring Requests:</h3>
  <% if @tutorbookings.empty? %>
    <p>No students have requested your knowledge yet.</p>
  <% else %>
    <% @tutorbookings.each do |b| %>
      <div class="panel panel-default">
        <div class="panel-body">
          <p><strong>Student: </strong><%= b.student.first_name %> <%= b.student.last_name%>
          <%= link_to "More Details", student_profile_url(b.student.student_profile), class:"btn btn-sm btn-info"%></p>
          <p><strong>Date: </strong><%= b.date%></p>
          <p><strong>Starts at: </strong><%= b.start_time.strftime('%H:%M') %></p>
          <p><strong>Ends at: </strong><%= b.end_time.strftime('%H:%M')%></p>
          <p><strong>Approved: </strong><%= human_boolean(b.approved) %></p>
          <p>
            <% if b.approved %>
              <%= link_to("Disapproved", desktop_url(booking: b.id), method: :post, class:"btn btn-sm btn-danger")%>
            <% else %>
              <%= link_to("Approved",desktop_url(booking: b.id), method: :post, class:"btn btn-sm btn-success")%>
            <% end %>
        </p>
        </div>
      </div>
    <%end %>
  <% end %>
<% end %>
