<% provide(:title, 'Homepage') %>


<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Welcome <%= current_user.first_name.capitalize if current_user %></h1>
  <p>My Tut is a platform where tutors post their profiles. Then students are able to choose the tutors and book a tutoring session online.</p>
  <% if current_user %>
    <% if current_user.has_role? :tutor %>
      <% if current_user.tutor_profile %>
        <%= link_to "Get Started", "#", class: "btn btn-lg btn-primary"%>
      <% else %>
        <p><%= link_to "Create Tutor Profile", new_tutor_profile_path, class: "btn btn-lg btn-primary" %></p>
      <% end %>
    <% end %>
    <% if current_user.has_role? :student %>
      <% if current_user.student_profile %>
        <%= link_to "Get Started", "#", class: "btn btn-lg btn-primary"%>
      <% else %>
        <p><%= link_to "Create Student Profile", new_student_profile_path, class: "btn btn-lg btn-primary" %></p>
      <% end %>
    <%end %>
  <% else %>
    <h3>Get Started!</h3>
    <p>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-lg btn-success" %>
      <%= link_to "Log In", new_user_session_path, class:"btn btn-lg btn-primary"%>
    </p>
  <% end %>

</div>
