<h1>Search of Tutors</h1>

<%= simple_form_for :search, :method => 'get', url:  tutors_path do |f| %>

  <div class="form_inputs">
    <%= f.input :description %>
    <%= f.input :subject %>
    <%= f.input :subject_year%>

  </div>

  <div class="form-actions">
    <%= f.button :submit, value: "Search", 'data-disable-with'=> "Searching...".html_safe %>
  </div>



<% end %>
