<p id="notice"><%= notice %></p>

<h1>Tutor Bookings</h1>

<table>
  <thead>
    <tr>
      <th>Tutor</th>
      <th>Student</th>
      <th>Date</th>
      <th>Start time</th>
      <th>End time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tutor_bookings.each do |tutor_booking| %>
      <tr>
        <td><%= tutor_booking.tutor %></td>
        <td><%= tutor_booking.student %></td>
        <td><%= tutor_booking.date %></td>
        <td><%= tutor_booking.start_time %></td>
        <td><%= tutor_booking.end_time %></td>
        <td><%= link_to 'Show', tutor_booking %></td>
        <td><%= link_to 'Edit', edit_tutor_booking_path(tutor_booking) %></td>
        <td><%= link_to 'Destroy', tutor_booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tutor Booking', new_tutor_booking_path %>
