<p>
  <strong>Tutorr:</strong>
  <%= @tutor_booking.tutor.first_name %>
</p>

<p>
  <strong>Student:</strong>
  <%= @tutor_booking.student.first_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @tutor_booking.date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @tutor_booking.start_time.strftime('%H:%M') %>
</p>

<p>
  <strong>End time:</strong>
  <%= @tutor_booking.end_time.strftime('%H:%M') %>
</p>

<p>
  <strong>Rate:</strong>
  <%= number_to_currency(@tutor_booking.rates, unit:"$/hr", format:"%n %u") %>
</p>

<p>
  <strong>Total Cost:</strong>
  <%= number_to_currency(@tutor_booking.cost, unit:"$", format:"%n %u") %>
</p>

<%= link_to 'Your Requests', requests_path %> |
<%= link_to 'Back', tutor_bookings_path %>
