<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @student_profile.description %>
</p>

<p>
  <strong>Subjects:</strong>
  <%= @student_profile.subjects %>
</p>

<p>
  <strong>Year:</strong>
  <%= @student_profile.year %>
</p>

<%= link_to 'Back', student_profiles_path %>
