<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= image_tag(@student_profile.user.avatar_url, class:"profile-pic") if @student_profile.user.avatar %>
        <p>
          <strong>Name:</strong>
          <%= @student_profile.user.full_name %>
        </p>
        <p>
          <strong>Phone number:</strong>
          <%= @student_profile.user.phone_number %>
        </p>

        <p>
          <strong>Email:</strong>
          <%= @student_profile.user.email %>
        </p>
      <%= link_to "Message Me", conversations_path(sender_id: current_user.id, recipient_id: @student_profile.user.id), method: :post%>
    </div>
  </div>
</div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-body">

        <p>
          <strong>Description:</strong>
          <%= @student_profile.description %>
        </p>

        <p>
          <strong>Subjects:</strong>
          <%= @student_profile.subjects %>
        </p>

        <p>
          <strong>Year:</strong>
          <%= @student_profile.year %>
        </p>

      </div>
    </div>
  </div>
</div>
