<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'MyTut', root_path, class:'navbar-brand'%>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Tutors', tutors_path %>
        <li><%= link_to "Classes", tutor_classes_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bookings<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">Bookings</li>
              <li><%= link_to "View Bookings", bookings_path %></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Requests</li>
              <li><%= link_to "View Requests", requests_path %></li>
            </ul>
          <li><%= link_to "Messages", conversations_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= current_user.first_name%>
              <div class="user-profile-image"><%= image_tag(current_user.avatar_url, class:"small") if current_user.avatar %></div>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <% if current_user.tutor_profile%>
                <li class="dropdown-header">Tutor</li>
                <li><%= link_to('Your Profile', current_user.tutor_profile)%></li>
                <li><%= link_to('Edit Profile', edit_tutor_profile_path(current_user.tutor_profile))%></li>
              <% elsif current_user.has_role? :tutor %>
                <li><%= link_to('Create Tutor Profile', new_tutor_profile_path)%></li>
              <% end %>
              <% if current_user.student_profile %>
                <li class="dropdown-header">Student</li>
                <li><%= link_to('Your Profile', student_profile_path(current_user.student_profile))%></li>
                <li><%= link_to('Edit Profile', edit_student_profile_path(current_user.student_profile))%></li>
              <% elsif current_user.has_role? :student %>
                <li><%= link_to("Create Student Profile", new_student_profile_path) %></li>
              <% end %>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Account Settings</li>
              <li><%= link_to('Edit Account', edit_user_registration_path) %></li>
              <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to('Sign Up', new_user_registration_path)  %></li>
          <li><%= link_to('Login', new_user_session_path)  %></li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
