<!DOCTYPE html>
<html>
  <head>
    <meta name="author" content="Alex Chuvand">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= full_title(yield(:title))%></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= growlyflash_static_notices %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
    $(document).ready(function(){
        $('.datatable').DataTable({
          responsive: true
          // ajax: ...,
         // autoWidth: false,
         // pagingType: 'full_numbers',
         // processing: true,
         // serverSide: true,
        });
    });
    </script>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="container">
      <%#= render 'partials/flash_message' %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
